/* Global styles start */

*{
    margin: 0; padding: 0px; box-sizing: border-box;}
body{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+24,ffa73d+24,ffa73d+26,ff7c00+78,ff7f04+84 */
    background: #ffb76b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 24%, #ffa73d 24%, #ffa73d 26%, #ff7c00 78%, #ff7f04 84%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 24%,#ffa73d 24%,#ffa73d 26%,#ff7c00 78%,#ff7f04 84%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 24%,#ffa73d 24%,#ffa73d 26%,#ff7c00 78%,#ff7f04 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /*IE6-9 */
    text-align: center;
    font-family: Georgia, verdana,sans-serif;
    font-size: 24px;
    padding:20px;
    }

/* Global styles end */

 /*sticky header?*/
 header{
    text-align: center;
    font-size: 45px;
    background-color: teal;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    align-self: flex-start; /* <-- this is the fix */
    }

    header img {
        inline-size: 150px;
        object-position: left top;
        float: left;
        padding: 30px;
    }

    button{
    margin-top:40px;
    line-height: 60px;
    font-weight:bold;
    padding: 0 60px;
    background: rgb(255, 136, 0);
    border: none;
    border-radius: 12px;
    }
    button:hover{
        background:orangered;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .button:active {
        background-color: orangered;
        box-shadow: 0 5px #666;
        transform: translateY(4px); 
    }
/* Header styles end */


/* Random cocktail/meal styles start */
.cocktail-meal-container {
    padding: 75px;  
}
.meal{
    background-color: rgb(108, 153, 153);
    box-shadow: 0 0 0 5px rgb(119, 26, 26);
}
.cocktail{
    /*background-image: url("/assets/css/images/orange-cocktails.jpg");*/
    background-color: rgb(245, 166, 76);
    box-shadow: 0 0 0 5px rgb(119, 26, 26);
}
#cocktail-img-container, #meal-img-container{
    margin-bottom: 20px;
}
.cocktail-meal-container p, .cocktail-meal-container h4 {
    padding: 0;
    margin-top: 10px;
}
.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: left;
    padding: 0 20px;
}


.flex-1{
    flex-basis: 35%;
    font-size: 25;
}
.flex-2{
    flex-basis: 65%;
    font-size: 14;
}

/* Random cocktail/meal styles end */


/* Footer styles start */
.footer{
    background-color: teal;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
.contributors{
    color: rgb(224, 217, 217);
    padding: 20px;
    border-bottom: 1px solid #303030;
    margin-left: 200px;
    margin-right: 200px;
}
.names a {
  text-decoration: none;
  display:flex;
  padding: 10%;
  color:rgb(39, 39, 39)
}

footer div ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

/* Footer styles end */


/*media queries --- adjust to display size*/
    @media screen and (max-width:1100px){
            header{
                height: 150px;
                padding-right: 10px
            }
            h1{
                font-size: 70px;
            }
    }

    @media screen and (max-width: 980px){
        header{
            padding-bottom: 0;
            justify-content:center;
            position: relative;
            }
            footer h2 {
                text-align:center;
                width:100%;
            }
            .onClick{
                text-align: center;
                width:100;
                flex: 1 100%;  
              }
            header{
                height: 150px;
                padding-right: 10px
            }
            h1{
                font-size: 60px;
            }
            img {
                height: 250px;
                width: 250px;
            }
    }

    @media screen and (max-width:768px){
        section{
            padding: 10px 5px;

            }
            footer h2 {
                text-align:center;
                width:100%;
                
            }
            .onClick{
                text-align: center;
                width:100;
                flex: 1 100%;  
              }
            header{
                height: 150px;
                padding-right: 10px
            }
            h1{
                font-size: 50px;
            }
           
            img {
                height: 150px;
                width: 150px;
            }
            .cocktail-meal-container{
                flex-direction: column;
                flex: 0 100%;
                padding: 10px;
                text-align: center;
            }
            .cocktail .meal{
                flex: 0 100%;
                flex-wrap: wrap;
                padding: 5px;
                width: 80%;
            }
            h2{
                flex: 1 100%;
                font-size: 25px;
            }
            h4{
                flex: 100%;
                font-size: 15px;
            }
            .flex-container{
                width: fit-content;
                margin: 0;
                flex-direction: column;
                flex: 0 80%;
                padding: 25px;
                text-align: center;
            }
            .flex-1{
                font-size: 35px;
            }
            .flex-2{
                font-size: 14px;
                flex-wrap: wrap;
            }
    }
            
    @media screen and (max-width:575px){
        .onClick {
            text-align: center;
            width:100;
            flex: 1 100%;
        }
        header {
            height: 100px;
            padding: 10px;
        }
        img {
            height: 110px;
            width: 110px;
        }
        h1{
            font-size: 25px;
        }
       
        .cocktail-meal-container{
            flex-direction: column;
            flex: 0 100%;
            padding: 10px;
            text-align: center;
        }
        .cocktail .meal{
            flex: 0 100%;
            flex-wrap: wrap;
            padding: 5px;
            width: 80%;
        }
       
        .flex-container{
            width: fit-content;
            margin: 0;
            flex-direction: column;
            flex: 0 80%;
            padding: 10px;
            text-align: center;
        }
        .flex-1{
            font-size: 20px;
        }
        .flex-2{
            font-size: 12px;
            flex-wrap: wrap;
        }
        
        footer{
            height: 100px;
            flex-wrap: wrap;
        }
        .contributors{
            font-size: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .names{
            font-size: 14px;
        }
    }